{
  "source": {
    "directories": [
      "src"
    ],
    "excludes": [
      "Infrastructure/Persistence/Doctrine/Migration",
      "Infrastructure/Persistence/Doctrine/Fixture",
      "Infrastructure/UI/Web/Template/Php/Views",
      "Infrastructure/UI/Web/Template/Twig/Views"
    ]
  },
  "timeout": 10,
  "tmpDir": "storage/infection",
  "logs": {
    "text": "storage/infection/infection.log",
    "summary": "storage/infection/summary.log",
    "badge": {
      "branch": "master"
    }
  },
  "testFrameworkOptions": "-vvv"
}