{
  "source": {
    "directories": [
      "src"
    ],
    "excludes": [
      "db/*",
      "storage/*"
    ]
  },
  "timeout": 10,
  "tmpDir": "storage/cache",
  "logs": {
    "badge": {
      "branch": "master"
    }
  },
  "testFrameworkOptions": "-vvv"
}