<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/8.0/phpunit.xsd"
        cacheResult="false"
         backupGlobals="false"
         backupStaticAttributes="false"
         bootstrap="tests/bootstrap.php"
         colors="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         processIsolation="false"
         stopOnFailure="false">
    <testsuites>
        <testsuite name="Application">
            <directory suffix="Test.php">./tests/Application</directory>
        </testsuite>
        <testsuite name="Domain">
            <directory suffix="Test.php">./tests/Domain</directory>
        </testsuite>
        <testsuite name="Infrastructure">
            <directory suffix="Test.php">./tests/Infrastructure</directory>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist processUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">src</directory>
            <exclude>
                <directory>src/Infrastructure/UI/Web/Template/Php/Views</directory>
                <directory>src/Infrastructure/UI/Web/Template/Twig/Views</directory>
                <directory>src/Infrastructure/Persistence/Doctrine/Fixture</directory>
                <directory>src/Infrastructure/Persistence/Doctrine/Migration</directory>
            </exclude>
        </whitelist>
    </filter>
    <php>
        <const name="PHPUNIT_TESTSUITE" value="true"/>
    </php>
</phpunit>
