{% extends 'layout.main.twig' %}


{% block content %}
<table>
    {% for user in users %}
        <tr>
            <td>{{ user.name }}</td>
            <td>{{ user.age }}</td>
            <td><a href="/{{ user.id }}/posts">Show Posts</a></td>
        </tr>
    {% endfor %}
</table>
{% endblock %}


{% block js %}
<script src="/js/users.js"></script>
{% endblock %}

