<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Главная</title>
    <link rel="stylesheet" type="text/css" href="/bootstrap4/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/bootstrap4/css/bootstrap-grid.min.css">
</head>
<body>

{% block content %}
{% endblock %}

<script src="/bootstrap4/js/bootstrap.min.js"></script>
<script src="/bootstrap4/js/bootstrap.bundle.min.js"></script>
{% block js %}
{% endblock %}
</body>
</html>